#menu ul {
	margin: 0;
	padding :0;
	list-style-type: none;
	text-align: center;
	font-variant: small-caps;
}

#menu li {
	float: left;
	margin: auto;
	padding: 0;
	background-color: rgb(250, 187, 0);
}

#menu li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	width: 100;
	color: black;
	padding: 20px;
}

#menu li a:hover {
	text-decoration: underline;
}

#menu ul li ul {
	display: none;
}

#menu ul li:hover ul {
	display: block;
}

#menu li:hover ul li {
	float: none;
}

#menu li ul {
	position: absolute;
}

#menu {
	height: 50px;
}